.type-1478 {
  .container {
    .row {
      .col-md-5 {
        .class1 {
          .Recent {
            color: #bca9a3;
            padding: 0;
            margin: 0;
            line-height: 1;
            font-size: 15px;
          }
          .fac1 {
             
            font-size: 40px;
            color: #818a91;
          }
          .fac1:hover {
            color: black;
            transition: 0.5s;
          }
          .fac2 {
            font-size: 40px;
            color: #818a91;
          }
          .fac2:hover {
            color: black;
            transition: 0.5s;
          }
          .fac3 {
            font-size: 40px;
            color: #818a91;
          }
          .fac3:hover {
            color: black;
            transition: 0.5s;
          }
          .fac4 {
            font-size: 40px;
            color: #818a91;
          }
          .fac4:hover {
            color: green;
            transition: 0.5s;
          }
        }
      .class2 {
          color: green;
        }
        
      .class3 {
          color: #bca9a3;
        }
      }
    }
  }
}
